/* Style for the navigation bar container */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  

  
  /* Style for the logo text */
  .logo h1 {
    font-size: 24px; /* Change the font size as desired */
    margin: 0; /* Remove any default margin */
  }
  
  /* Style for the navigation links */
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  /* Style for the navigation links' anchor tags */
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    color: rgb(3, 148, 146); /* Change the color on hover as desired */
  }
  
  /* Style for the cart and user icons */
  .nav-links i {
    font-size: 24px; /* Change the font size as desired */
    margin: 0 10px; /* Add margin between the icons and other navigation elements */
  }
  